body,h1,h2,h3,h4,h5,h6,hr,p,ul,li,dl,dt,dd,input,button,textarea{
	margin:0;
	padding:0;
}
body,button,input,select,textarea{
	font: 13px/1.5 Tahoma, Helvetica, Arial;
}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
ul, ol {list-style: none;}
a {text-decoration: none;}
a{
	&:hover{
		text-decoration: underline;
	}
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: none;
    height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {overflow-y: scroll;}
.clearfix{
	&:after,&:before{
		content: "";
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;  
	}
}
